<a ng-click="set(90)">a</a>
<div class="gauge-container">
    <div class="gauge">
        <div gauge-circle class="gauge-outer-circle">
            <div gauge-circle class="color-circle team-1"></div>
            <div gauge-circle class="color-circle team-2" ng-style="getAngleStyle()"></div>
        </div>
        <div gauge-circle class="gauge-outer-circle gauge-offset"></div>
        <div gauge-circle class="gauge-outer-circle gauge-glass"></div>
        <div gauge-circle class="gauge-inner-circle"></div>
        <img class="gauge-needle" src="/img/gauge.png" ng-style="getAngleStyle()"></img>
    </div>
</div>